* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* Navbar */
body {
	background: url(https://continion.com/images/bg-dot-pattern.png) left top repeat;
}

nav {
	display: flex;
	align-items: center;
	margin: 10px 20px;
	justify-content: space-between;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.1rem;
	color: rgb(230, 230, 230);
}

nav h2 {
	font-size: 1.1rem;
}

nav ul {
	display: flex;
	list-style: none;
}

nav ul li a {
	margin: 0 10px;
	text-decoration: none;
	color: rgb(230, 230, 230);
}

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 6rem;
	font-weight: 100;
	color: white;
}

header {
	background: url("https://images.unsplash.com/photo-1609602644879-dd158c2b56b4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80") no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
}

header ul {
	display: flex;
	align-items: center;
}

header ul li {
	margin: 10px 20px;
	list-style: none;
	color: white;
	font-family: 'Urbanist', sans-serif;
	font-size: 1.5rem;
}
header a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

header img {
	width: 70px;
	margin-top: 6px;
}

@media only screen and (max-width: 544px) {

	nav {
		font-size: 1rem;
	}

	nav h2 {
		font-size: 1rem;
	}

	h1 {
		font-size: 4rem;
	}

	header ul li {
		font-size: 1rem;
	}

	header img {
		width: 50px;
	}
}